*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    width: 100vw;
    height: 100vh;    
}

button{
    padding: .2em .6em;
    width: 10rem;
    height: 2.5em;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
}

button:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}


.main-area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    justify-content: center;
    align-items: center;
}

.display-area{
    width: 90%;
    height: 60%;
    /* border: 1px solid salmon; */
    border-radius: .5em;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
}

 .note-page-main{
    width: 90%;
    height: 80%;
    border: 2px solid black;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-page-main textarea{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    padding: 1em;
    font-size: 1.5em;
}

.note-page-footer{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
    border-radius: .5em;
    /* padding: 0 22em; */
}

.note-page-footer #sort-notes{
    border: 2px solid black;
    border-radius: 5px;
    width: 12rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    padding: .5rem;
}

#sort-notes select{
    border: none;
    padding: .5rem;
    margin-left: .5rem;
    background-color: transparent;
    font-size: .9rem;
    
}

#list-view{
    width: 90%;
    height: 35%;
    outline: 2px solid black;
    /* background-color: blue; */
    border-radius: .5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* padding: 0 2em; */
    overflow: auto;
    background-color: aliceblue;
    counter-reset: note;
}

#list-view p{
    display: block;
    width: 100%;
    
}


#list-view .list-view-item{
    width: 95%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2em;
    margin: .5rem 0;
    border-radius: 5px;
}

.list-view-item::before{
    counter-increment: note;
    content: counter(note) ").  " ;
    margin-right: .5rem;
    font-size: 1.2rem;
    vertical-align: baseline;
    padding: .5rem 0;
}

#list-view .list-view-item:hover{
    background: rgb(215, 218, 216);
    color: black;
    border: .1px solid rgb(159, 156, 156);
}

/* #list-view .list-view-item:active{
    background-color: transparent;
} */

.list-item-para{
    width: 85%;
    height: 1em;
    font-size: 1.2em;
    /* background-color: antiquewhite; */
    
}

.del-btn{
    /* background-color: red; */
    width: auto;
    height: auto;
    padding: .2rem .5rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}